.CardContent {
    position: relative;
  }
  
  custom-text-field input::placeholder {
    color: white !important; /* Change the color of the placeholder */
  }
  
  .custom-text-field input {
    border-color: white !important; /* Change the border color */
  }